.wrapWorkSpace {
  position: relative;
  height: 100%;
}

.wrapContent {
  height: 100%;
}

.wrapMainContent {
  display: flex;
  margin-top: 40px;
}
.mainContent {
  flex-grow: 10;
  border-left: 3px solid #80859d;
}

.clipLoader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
