.conteiner {
  height: 10vh;
  background-color: #80859d;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.imgWrap {
  margin-left: 50px;
}

.inputSearch {
  font-size: 15px;
  border-radius: 10px;
  border: none;
  padding: 5px;
  outline: none;
}

.btn {
  margin-right: 50px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color: #d1caca;
  background-color: #636465;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(54, 54, 240);
}

.logo {
  font-size: 40px;
  color: rgb(84, 84, 174);
}
